
body, html {
    overflow: hidden;
}

h1 {
    font-size: 24px;
}

#title {
    border-bottom: 2px solid black;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 14px;
    left: 0;
    top: 0;
}

.dialogBox {
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-basis: content;
}

/* contains hangman image */
#panel1 {
    width: 41vw;
    height: 100vh;
    position: fixed;
    top: 62px;
    left: 0;
}

#hangmanWindow {
    width: 100%;
    height: 34vw;
}

/* contains panels 1 and 2 */
#gameWindow {
    width: 58vw;
    border-left: 2px solid black;
    height: 100vh;
    display: block;
    position: fixed;
    left: 42vw;
    float: right;
    top: 60px;
}

/* contains secret word */
#panel2 {
    width: 58vw;
    border-bottom: 2px solid black;
    border-top: 0;
    height: 50vh;
    text-align: center;
    position: relative;
}

/* contains letter buttons */
#panel3 {
    width: 58vw;
    height: Calc(50vh - 60px);
    text-align: center;
    border: 0;
    margin: 0;
    position: relative;
    /* top: 60vh; */
}

/* flex boxes which go inside the panels and keep their content centered */
#wordWindow, #letterButtonWindow, #discards{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: block;
    margin: auto 0;
    position: absolute;
    /* centered in guessword div */
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

#wordWindow {
    vertical-align: top;
}

#discards {
    font-size: 4vw;
    top: 35vw;
    width: 75%;
    text-align: center;
}

#letterButtonWindow {
    width: 91%;
}

.wordContainer {
    display: inline-flex;
    position: relative;
    margin: 0 2vw 3vh;
    height: 6vw;
    vertical-align: top;
}

#categoryBox{
    float: right;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 10px;
    top: 7px;
    position: fixed;
    right: 0;
    flex-direction: row;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    top: 7px;
}

#categories {
    font-size: 12pt;
    height: 25px;
    margin: 10px;
}

.letterBox {
    width: 4vw;
    height: 6vw;
    border-bottom: .5vw solid black;
    display: inline-block;
    /* text-align: center;
    vertical-align:center; */
    margin: 0 .5vw 0 0;
    font-size: 4vw;
}

.letterButton {
    /* display: inline-flex; */
    font-family: monospace;
    width: 7.6%;
    margin: 2vh 0;
    position: relative;
    border: 0;
    cursor: pointer;
}

.highlighted {
    border: 1px solid black;
}

.letterButton:hover {
    border: 1px solid black;
}

.innerLetter, .X {
    /* centered */
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);  
    position: absolute;
}

.X {
    display: none;
    color: red;
    font-size: 5vw;
    top: 60%;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 50;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

@media screen and (orientation: portrait) {
    #panel1{
        width: 100%;
        height: 30%;
        border-bottom: 2px solid black;
    }
    #hangmanWindow {
        height: 100%;
    }
    /* h1 {
        font-size: 5vw;
    } */
    #gameWindow {
        width: 100vw;
        height: Calc(70% - 60px);
        top: Calc(30% + 60px);
        left: 0;
        border-left: 0;
    }
    #panel2, #panel3 {
        height: 50%;
        width: 100%;
        position: relative;
    }
    #discards {
        left: 70%;
        top: 50%;
        width: 50%;
        font-size: 4vh;
    }
    #categories {
        font-size: 10pt;
        height: 20px;
        margin: 10px;
    }    
    #categoryBox{
        flex-direction: column;
        font-size: 18px;
        line-height: 10px;
        top: 7px;
        text-align: center;
        font-weight: 400;
    }
    .letterBox {
        width: 4vh;
        height: 6vh;
        display: inline-block;
        margin: 2vh .5vh;
        font-size: 4vh;
        border-bottom: .5vh solid black;
    }
    .wordContainer {
        height: 6vh;
    }
    .letterButton {
        /* stay the same */
        width: 10%;
        margin: 1vh 0;
        font-size: 4vh;
        border: 0;
    }
    .X {
        font-size: 5vh;
    }
}

.borderless {
    border: none;
}


